* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

header nav ul li a {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(91, 91, 91, 1);
}

header nav ul li .pricing-page {
  color: #0b19df;
}

header nav ul li a:hover {
  color: #0b19df;
}

.footer-content .top-sub .sub .button-cam:hover{
  background: rgba(255, 255, 255, 1);
  color: rgba(242, 76, 39, 1);
  border: 2px solid rgba(242, 76, 39, 1);
  transition: ease-in 0.3s;
  cursor: pointer;
}

.banner button:hover {
  background: rgba(255, 255, 255, 1);
  color: rgba(242, 76, 39, 1);
  border: 2px solid rgba(242, 76, 39, 1);
  transition: ease-in 0.3s;
  cursor: pointer;
}

header nav .btn:hover {
  color: rgba(255, 255, 255, 1);
  background: #232ed1;
  border: 2px solid rgba(255, 255, 255, 1);
  transition: ease-in 0.3s;
  cursor: pointer;
}

.header-content .header-content-end button:hover {
  color: rgba(35, 46, 209, 1);
  background: rgba(255, 255, 255, 1);
  border: 2px solid rgba(35, 46, 209, 1);
  transition: ease-in 0.3s;
  cursor: pointer;
}

/*Header*/
header {
  width: 1923px;
  height: 903px;
  background: linear-gradient(
    180deg,
    rgba(148, 153, 221, 0.1) 0%,
    rgba(0, 16, 255, 0.1) 100%
  );
}

header nav {
  width: 1420px;
  height: 60px;
  padding-top: 24px;
  margin-left: 105px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

header nav img {
  width: 108px;
  height: 26.08px;
  margin-top: 15px;
  padding-left: 145px;
}

ul {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -250px;
}

ul a {
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

ul li {
  list-style: none;
}

header nav button {
  color: #0d1317;
  border-radius: 5px;
  padding: 0 32px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500px;
  font-size: 18px;
  line-height: 27px;
}

.btn {
  border: 2px solid #232ed1;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.header-content span {
  font-family: Poppins;
  font-size: 64px;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: -0.03em;
  text-align: center;
  color: rgba(13, 19, 23, 1);
  margin-bottom: 20px;
}

.header-content p {
  font-family: Poppins;
  width: 481px;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(91, 91, 91, 1);
}

.pricing {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 180px;
}

.pricing .pricing1 {
  padding: 20px;
  background: linear-gradient(180deg, #ffffff 52.08%, #ecedff 100%);
  border-radius: 5px;
  width: 447px;
  height: 788px;
  margin-right: 50px;
}

.pricing .pricing2 {
  padding: 20px;
  background: linear-gradient(180deg, #ffffff 52.6%, #ffe8e2 100%);
  border-radius: 5px;
  width: 447px;
  height: 788px;
  margin-right: 50px;
}

.pricing .pricing3 {
  padding: 20px;
  background: linear-gradient(180deg, #ffffff 52.08%, #ecedff 100%);
  border-radius: 5px;
  width: 447px;
  height: 788px;
  margin-right: 50px;
}

.pricing .pricing1 .pricing-button {
  padding: 20px 40px;
  border-radius: 5px;
  margin: 250px 50px 0;
  border: 2px solid rgba(35, 46, 209, 1);
}

.pricing .pricing2 .pricing-button {
  padding: 20px 40px;
  border-radius: 5px;
  margin: 200px 50px 0;
  color: rgba(242, 76, 39, 1);
}

.pricing .pricing3 .pricing-button {
  padding: 20px 40px;
  border-radius: 5px;
  margin: 140px 50px 0;
  border: 2px solid rgba(35, 46, 209, 1);
}

.pricing-content .pricing-list {
  margin: 20px 0 20px 30px;
}

.pricing-content h1 {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin: 40px 0 20px 30px;
}

.pricing-content p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(91, 91, 91, 1);
  margin: 20px 0 20px 30px;
}

.pricing-content .price2 {
  font-family: Poppins;
  font-size: 96px;
  font-weight: 600;
  line-height: 102px;
  letter-spacing: -0.03em;
  text-align: left;
  color: linear-gradient(0deg, #0d1317, #0d1317),
    linear-gradient(0deg, #394149, #394149);
}

.pricing-content .price {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: -0.03em;
  text-align: left;
  color: linear-gradient(0deg, #0d1317, #0d1317),
    linear-gradient(0deg, #394149, #394149);
  margin-left: 30px;
}

.pricing-content .price3 {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: -0.03em;
  text-align: left;
  color: linear-gradient(0deg, #0d1317, #0d1317),
    linear-gradient(0deg, #394149, #394149);
}

.pricing .pricing1 button {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 70px;
  color: rgba(35, 46, 209, 1);
}

.pricing .pricing2 button {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 70px;
  color: rgba(242, 76, 39, 1);
}

.pricing .pricing2 .pricing-button {
  background-color: rgba(242, 76, 39, 1);
}

.pricing .pricing3 button {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 70px;
  color: rgba(35, 46, 209, 1);
}

.infopri {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(90, 90, 90, 1);
  margin-left: 10px;
}

.faq-section1,
.faq-section2,
.faq-section3,
.faq-section4,
.faq-section5 {
  display: flex;
}

.faq-section2,
.faq-section3,
.faq-section4 {
  margin-bottom: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
}

.faq-section {
  margin-left: 493px;
  margin-bottom: 200px;
  margin-top: 700px;
}

.faq-section h1 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 51px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(13, 19, 23, 1);
}

.xanh {
  color: rgba(0, 16, 255, 1) !important;
}

.faq-section h3 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(91, 91, 91, 1);
  margin-right: 30px;
}

.faq-section h4 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin-top: 5px;
}

.faq-section h6 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(91, 91, 91, 1);
  margin-top: 20px;
}

.faq-section1 {
  margin-top: 50px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(234, 234, 234, 1);
}

.faq-section1 .content1 {
  text-decoration: inherit;
  text-decoration-style: dotted;
  text-decoration-color: rgba(234, 234, 234, 1);
}

.test-section {
  margin-bottom: 300px;
  margin-left: 250px;
}

.test-person {
  display: flex;
}

.test-person .ps1 {
  border-radius: 12px;
  background: linear-gradient(
    180deg,
    rgba(182, 186, 255, 0.2) 0%,
    rgba(35, 46, 209, 0.2) 100%
  );
  width: 1000px;
  height: 200px;
  margin-right: 30px;
}

.test-person .ps2 {
  border-radius: 12px;
  background: linear-gradient(
    180deg,
    rgba(182, 186, 255, 0.2) 0%,
    rgba(35, 46, 209, 0.2) 100%
  );
  width: 1000px;
  height: 200px;
  margin-right: 30px;
}

.test-person .ps3 {
  border-radius: 12px;
  background: linear-gradient(
    180deg,
    rgba(182, 186, 255, 0.2) 0%,
    rgba(35, 46, 209, 0.2) 100%
  );
  width: 1000px;
  height: 200px;
}

.test-section h3 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(13, 19, 23, 1);
  margin-bottom: 50px;
}

.test-section .test-person .ps1 {
  padding: 20px;
}

.test-section .test-person .ps1 .test-person1 {
  display: flex;
}

.test-section .test-person .ps1 .test-person1 div .imgps1 {
  width: 58px;
  height: 61px;
}

.test-section .test-person .info1 {
  margin-left: 20px;
  margin-top: 10px;
}

.test-section .test-person .info1 h4 {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.test-section .test-person .info1 img {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(13, 19, 23, 1);
}

.test-section .test-person .ps1 h5 {
  padding: 20px;
}

.test-person1 {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.info1 h4 {
  margin-bottom: 3px;
}
/**/
.test-section .test-person .ps2 {
  padding: 20px;
}

.test-section .test-person .ps2 .test-person2 {
  display: flex;
}

.test-section .test-person .ps2 .test-person2 div .imgps2 {
  width: 58px;
  height: 61px;
}

.test-section .test-person .info2 {
  margin-left: 20px;
  margin-top: 10px;
}

.test-section .test-person .info2 h4 {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.test-section .test-person .info2 img {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(13, 19, 23, 1);
}

.test-section .test-person .ps2 h5 {
  padding: 20px;
}

.test-person2 {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.info2 h4 {
  margin-bottom: 3px;
}

/**/
.test-section .test-person .ps3 {
  padding: 20px;
}

.test-section .test-person .ps3 .test-person3 {
  display: flex;
}

.test-section .test-person .ps3 .test-person3 div .imgps3 {
  width: 58px;
  height: 61px;
}

.test-section .test-person .info3 {
  margin-left: 20px;
  margin-top: 10px;
}

.test-section .test-person .info3 h4 {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.test-section .test-person .info3 img {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(13, 19, 23, 1);
}

.test-section .test-person .ps3 h5 {
  padding: 20px;
}

.test-person3 {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.info3 h4 {
  margin-bottom: 3px;
}

.footer-content {
  width: 1920px;
  height: 795px;
  background: rgba(239, 240, 248, 1);
}

.banner {
  position: absolute;
  margin-top: -140px;
  margin-left: 235px;
  border-radius: 0 7px 0 7px;
  display: flex;
  width: 1420px;
  height: 304px;
  background: rgba(35, 46, 209, 1);
}

.banner button {
  background: rgba(242, 76, 39, 1);
  margin: 116px 0;
  border-radius: 5px;
  padding: 15.5px 53.5px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 41px;
  margin-left: 200px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.banner h1 {
  display: flex;
  width: 461px;
  word-wrap: break-word;
  margin-right: 200px;
  margin-left: 100px;
  align-items: center;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 51px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.footer-bottom {
  width: 1920px;
  height: 66px;
  background: rgba(35, 46, 209, 1);
}

.footer-bottom h5 {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.top-main {
  display: flex;
  justify-content: space-around;
  padding-top: 250px;
}

.top-main .footer-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-main .footer-left a {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  color: rgba(91, 91, 91, 1);
  margin-bottom: 20px;
}

.top-main .footer-left .list1 {
  display: flex;
  flex-direction: column;
}

.top-main .footer-left h6 {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 30px;
}

.top-main .footer-right img {
  color: rgba(13, 19, 23, 1);
  margin-bottom: 30px;
}

.top-main .footer-right .social a {
  padding: 0 5px;
  margin-bottom: 30px;
  text-decoration: none;
}

.top-main .footer-left .list2 {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}

.top-main .footer-left .list3 {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}

.top-sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 100px 0;
}

.top-sub .sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-sub .sub .sendmail{
  outline: none;
}

.footer-content .top-sub h2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.03em;
  text-align: left;
  color: rgba(91, 91, 91, 1);
}

.footer-content .top-sub .sub {
  width: 845px;
  height: 89px;
  background-color: #ffffff;
  border-radius: 5px;
}

.footer-content .top-sub .sub h6 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 200px;
  color: rgba(91, 91, 91, 1);
}

.footer-content .top-sub .sub button {
  padding: 20px 35px;
  background: rgba(242, 76, 39, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
